@font-face {
    font-family:honey;
    src:url(./GT-America-Compressed-Black-Trial.otf) ;
     }
     @font-face {
        font-family: america;
        src: url(./GT-America-Compressed-Bold.woff2);
    }
    
    @font-face {
        font-family: america-b;
        src: url(./GT-America-Compressed-Black-Trial.woff2);
    }
    
    @font-face {
        font-family: Gilroy;
        src: url(./Gilroy-Medium.woff2);
        font-weight: 500;
    }
    
    @font-face {
        font-family: Gilroy;
        src: url(./Gilroy-Semibold.woff2);
        font-weight: 600;
    }
    
    @font-face {
        font-family: Gilroy;
        src: url(./Gilroy-bold.woff2);
        font-weight: 700;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(./Montserrat-Bold.woff2);
        font-weight: 600;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(./Montserrat-Bold.woff2);
        font-weight: 700;
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(./Montserrat-Medium.woff2);
        font-weight: 500;
    }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width:100%;
    height: 100%;

}
#main{
    background-color: #fff;
}

#nav{
    width: 100%;
    display: flex;
    padding: 10px 20px;
    position: fixed;
    align-items: center;
    z-index: 99;
    justify-content: space-between;
color: #C45508

}

#nav h3 {
    min-width: 0%;
    font-size: 28px;
   position: relative;
    text-transform: uppercase;
    letter-spacing: 1;
    font-family: honey;
    cursor: pointer;
    opacity: 0.7;
    color: inherit;
    transition: all ease 0.2;
    text-align: center;
    
}
#nav h3:nth-child(1){
    text-align: left;

}
#nav h3:nth-child(2){
    text-align: left;

}
#nav h3:nth-child(3){
    text-align: right;

}
#nav h3:nth-child(4){
    text-align: right;

}
#nav h3::after {
    content: "";
    position: absolute;
    left: 0;
    height:2px;
    width: 0%;
    bottom: 0;
    background-color:#C45508;
}
#nav h3:hover::after{
    animation-name:anime ;
    animation-duration: 1s;

}
#nav h3:hover{
    opacity: 1;
    
}

@keyframes anime{
    0%{
        left: 0;
        width: 0;
    
    }
    50%{
        left: 0;
        width: 100%;

    }
    100%{
        left: 100%;
        width: 0;
    }
}



#page{
    background-image: url(./image.webp);
    width: 100%;
    height: 100vh;
   position: relative;
   background-size: cover;
   overflow: hidden;
   background-position:center ;
  
   

}

#page h1{
    position: absolute;
    bottom: -5%;
    width: 100%;
    padding: 0 10px;
    font-size: 14vw;
    text-transform: uppercase;
    font-family: honey;
    color: #C45508;
    text-align: center;
}
svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) scale(1.4) ;
    z-index: 99;
    fill: #C45508;

}
path{
    fill: inherit;
}
#page h1::before{
    content:"BOWNDS RANCHES EST.1885";
    position: absolute;
    font-size: 1.1vw;
    font-family: gilroy;
    font-weight: 500;
    left: 2.7vw;
}
#page h1::after{
    content:"MARKETING & SELLING TEXAS RANCHES";
    position: absolute;
    font-size: 1.1vw;
    font-family: gilroy;
    font-weight: 500;
    right: 2.7vw;
}
#overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; 
}
#scroll{
    background-image: url(./buttonDarkBg.svg);
    padding: 8px 20px;
    font-family: honey;
    color: #fff;
    word-spacing: 5px;
    position: absolute;
    text-transform: uppercase;
    scale: 0;
    transition: all ease-out 0.3s;
}
#page1{
  /* background-image:url(./map.webp) ; */
   width: 100%;
   min-height: 100vh;
   position: relative;
   background-position: 60% 0%;
    background-color: #fff;
 
}
#page1 h1{
     background-image:url(https://cdn.sanity.io/images/sjvffa0f/production/217c65c6aa3412acac7b3d2fa8adc9020e487780-2724x1936.jpg/map.jpg?rect=1,0,2723,1936&w=1024&h=728&auto=format); 
    font-size: 10vw;
    font-family: honey;
    line-height: 9.7vw;
    padding: 100px 100px;
    text-align: center;
letter-spacing: -4px;
word-spacing: -16px;
color: #111;
position: relative;
background-position: 0px 200px;
background-repeat:no-repeat ;
background-color: #fff;
overflow: hidden;
}

#page1 h1::before{
    content: "THE REPRESENTATION YOU DESERVE";
    position: absolute;
    bottom: 10%;
    font-size: 1.1vw;
    width: 13%;
    text-align: left;
    line-height: 1.3vw;
    font-family: gilroy;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 500;
}

#page1 h1::after{
    content: "ONE OF AMERICA’S BEST BROKERAGES";
    position: absolute;
    bottom: 10%;
    font-size: 1.1vw;
    width: 13%;
    right: 10%;
    text-align: right;
    line-height: 1.3vw;
    font-family: gilroy;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 500;

}

#page1 img{
    height: 800px;
    position:relative;
    left: 28vw;
    rotate: 8deg;
    bottom: 9vw;
   
}
#page1 h2{
    font-size: 13vw;
    position: relative;
    font-family: honey;
    color: #111;
    line-height: 9.7vw;
    word-spacing: -16px;
    letter-spacing:-4px ;
    text-align: center;
    padding: 100px  100px;
    bottom: 17vw;
    overflow: hidden;


}
#page1 h2::after{
    content: "THIRD GENERATION FAMILY-OWNED RANCH BROKERAGE";
    font-size: 1.2vw;
    line-height: 1.3vw;
    position: absolute;
    bottom: 10%;
    left: 50%;
    word-spacing: 0px;
    letter-spacing:0px;
    font-family: gilroy;
    font-weight: 600;
    transform: translate(-50%,0);
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #111;
    padding: 100px 120px;
    bottom: 65vh;
    
}

#page2 h1{
    color: #fff;
    font-size: 8vw;
    letter-spacing: -5px;
    word-spacing: 0px;
    line-height: 8vw;

    font-family: honey;
    text-align: center;
    text-transform: uppercase;
}
#page2 h2{
    color: #fff;
    font-size: 7.5vw;
    letter-spacing: -5px;
    word-spacing: 5px;
    font-weight: 100;
    font-family: honey;
    text-align: center;
    -webkit-text-stroke: 3px #111;
    text-transform: uppercase;
}
#page2 p{
    color: #fff;
    font-size: 1vw; 
    width: 50%;
    font-weight: 600;
    font-family: gilroy;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    text-transform: uppercase;

}
#page3 img{
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top;
}
#img-div{
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/9b2b1e20d57cf6988eb3192c1a261b8475d701d4-8192x5464.jpg/JRP_BR_01_1165-Edit.jpg?rect=1038,632,3956,4832&bg=F2F1EC&fp-x=0.3681506849315068&fp-y=0.5578489448352462&w=640&h=815&fit=crop&crop=focalpoint&auto=format);
    background-position: top;
    background-size: cover;
    transition: all linear 0.2s;
}
#img-div h5{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 10px;
    z-index: 99;
    background-color: #fff;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color:#111 ;
    padding: 100px 0;
}
#page3>button{
   background-image:url(https://bowndsranches.com/textures/buttonBg.svg) ;
   padding: 10px 20px;
   position: absolute;
   border: none;
   font-family:america ;
   text-transform: uppercase;
   font-size: 17px;
   z-index: 99;





}
#page3>img {
    height: 300px;
    position: absolute;
    width: 250px;
    z-index: 9;

}

.elem {
    border-top: 1px solid #ffffffc1;
    position: relative;
    cursor: default;
    margin-top: -20px;
}

.elem:nth-last-child(1) {
    border-bottom: 1px solid #ffffffc1;
}

.elem h1 {
    font-size: 150px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: opacity ease 0.1s;
    -o-transition: opacity ease 0.1s;
    transition: opacity ease 0.1s;
    opacity: 0.3;
    font-family: america-b;

}

.elem h2 {
    font-size: 150px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: opacity ease 0.1s;
    -o-transition: opacity ease 0.1s;
    transition: opacity ease 0.1s;

}

#moving-text {
    /* background-color: #111; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    -webkit-transition: opacity ease 0.1s;
    -o-transition: opacity ease 0.1s;
    transition: opacity ease 0.1s;
    opacity: 0;
    z-index: 10;
}

#moving-text h2 {
    display: inline-block;
    /* background-color: green; */
    margin-left: -4px;
    -webkit-animation-name: move-txt;
    animation-name: move-txt;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    position: relative;
    padding-right: 70px;
    /* background-color: red; */
    font-family: america-b;

}
#moving-text h2 img {
    rotate: 45deg;
    height: 30px;
    right: 3%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

}

.elem:hover #moving-text {
    opacity: 1;
}

.elem:hover h1 {
    opacity: 0;
}

@-webkit-keyframes move-txt {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes move-txt {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}


#page4 {
    min-height: 100vh;
    width: 100%;
    padding: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#page4-div1 {
    height: 400px;
    width: 600px;
    position: absolute;
    background-size: cover;
    rotate: 5deg;
    background-position: center;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/336838d48da46ea806426b4185e7f8a87262a6a5-1521x974.png/image.png?rect=1,0,1520,974&bg=F2F1EC&w=1024&h=656&auto=format);
}
#page4-div2 {
    z-index: 99;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 600px;
    rotate: -4deg;
    position: absolute;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/ac5d899c94acdca5124d1fcfb738940892e29544-1520x973.png/image.png?rect=0,1,1520,972&bg=F2F1EC&w=1024&h=655&auto=format);
}

#page5 {
    min-height: 200vh;
    width: 100%;
    padding: 2px;
    position: relative;
}

#page5 img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;

}

#page5-text {
    position: relative;
    z-index: 99;
    padding: 5px 20px;
}

#page5-text h1 {
    font-size: 7.5vw;
    line-height: 7vw;
    color: #fff;
    font-family: america;
}

#text-right {
    position: absolute;
    top: 150%;
    right: 10%;
    width: 20%;
}

#text-right p {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

#page5-text button {
    padding: 12px 30px;
    font-size: 15px;
    margin-top: 30px;
    font-family: america;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    position: relative;
    overflow: hidden;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;

}

#page5-text button:hover {
    color: #111;
}

#page5-text button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    top: 100%;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    z-index: -1;
}


#page5-text button:hover::after {
    top: 0;
}

#text-center {
    position: absolute;
    top: 350%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;

    width: 60%;
}

#page5-text h2 {
    font-size: 4vw;
    line-height: 3.5vw;
    text-align: center;
    font-family: america;
    color: #fff;
}

#page6 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 100px 80px 100px 10px;
}

#page6 h1 {
    font-size: 11vw;
    color: #faf6ef;
    text-transform: uppercase;
    font-family: america;
}

#page6-part2 {
    color: #faf6ef;
    padding-top: 40px;
}


#lola2 h2 {
    font-size: 24px;
    font-family: america;
    font-weight: 100;
    text-transform: uppercase;
    -webkit-text-stroke: 0.4px #111;
    letter-spacing: -1px;
    margin-bottom: 13px;
}

#lola2 h3 {
    font-size: 22px;
    font-family: america;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: -3px;
    -webkit-text-stroke: 0.6px #111;
    letter-spacing: -1px;
}

#lola3 {
    text-align: left;
    margin-top: 40px;

}

#lola3 h4 {
    font-size: 24px;
    font-family: america;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 3px;
}